$fontsPath:   "../fonts" !default;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
//font-family: 'Open Sans', sans-serif;

/*@font-face {
    font-family: 'CartoGothicStd-Book';
    src: url('#{$fontsPath}/CartoGothicStd-Book-webfont.eot');
    src: url('#{$fontsPath}/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('#{$fontsPath}/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('#{$fontsPath}/CartoGothicStd-Book-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


