body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.6em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}

$heading: h1 h2 h3 h4 h5 h6;
@each $head in $heading {
	#{$head} {
		font-weight: normal;
		line-height: 1.4em;	
		font-family: 'Rubik', sans-serif;
	}
}

*:focus, *:active{
	outline: none !important;
}

a{
	@include prefixed(transition, all 0.3s linear);
	color: $orange;	

}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

//LOOPING
$color-list-box: #53BBB4 #5CB860 #F9845B #838CC7 #39ADD1 #3079AB #E59A13;
@for $i from 1 through length($color-list-box) {
	.color-box-#{$i} {
		background-color: nth($color-list-box, $i);
	}
}