@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
//font-family: 'Rubik', sans-serif;
@import url("https://use.typekit.net/jos6foz.css");
//font-family: akagi-pro, sans-serif;


//MODULES
@import "modules/variables";
@import "modules/mixins";

//PARTIALS
@import "partials/fonts";
@import "partials/general";
@import "partials/header";

body {
   font-family: 'akagi-pro', 'Rubik', sans-serif;
   color: white;
   background-color: #131d29;
}


.pac-bgerror {
    position: absolute;
    z-index: -1;
    background-color: #0d161e;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.light-lamp {
    position: absolute;
    left: 8.5%;
    padding-top: 0;
    top: -3%;
    width: 100%;
    height: 100%;
    animation: fadeIn 2s infinite alternate;
    opacity: 1;
    background-size: 281px auto;
    background-position: center;
    background-repeat: no-repeat;
   
    img {}

    // &:before, &:after {
    //     content: '';
	// 	position: absolute;
	// 	width: 100px;
	// 	height: 100px;
	// 	background: rgba(255, 244, 92, 0.4);
	// 	border-radius: 100%;
	// 	top: 35%;
	// 	left: 50%;
	// 	transform: translate(-50%,0);
    //     transition: opacity .5s ease-in-out;
    //     box-shadow: 0 0 150px 10px #FFF35C;
    // }
}

@keyframes fadeIn { 
    from { opacity: 0.7; } 
}
  

.pac-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.pac-header {
    padding-top: 25px;
}

.logo-wrapper {
    max-width: 102px;
}

.msg-error {
    margin-top:  13rem;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 395px;
    font-size: 18px;

    @media screen and (max-width: 48em) {
        position: absolute;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        bottom: 0;
    }
} 

.msg-error-fhundred {
    margin-top:  5rem;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 475px;

    @media screen and (min-width: 62em) {
        margin-top:  12rem;
    }
}


.msg-error__text {
    font-size: 28px;
    line-height: 1.1em;
    font-weight: 400;

    @media screen and (min-width: 62em) {
        font-size: 34px
    }
}


.msg-error__title {
    font-size: 60px;
    line-height: 1.3em;
    @media screen and (min-width: 62em) {
        font-size: 90px
    }
}

.msg-error__link {
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
   

    &:hover {
        color  : #6ac3ad;
    }
}

.link-underline {
    color: white;
    text-decoration: underline;
    &:hover {
        color  : #6ac3ad;
    }
}

/*500*/
.hero-fhundred__ufo {
    margin-left: auto;
    @media screen and (min-width: 62em) {
        max-width: 550px;
        text-align: right;
    }
}

.hero-fhundred__mascot {
    padding-left: 5%;
    margin-top: -25%;

    @media screen and (min-width:62em) {
        padding-left: 10%;
    }

    @media screen and (min-width:1200px) {
        padding-left: 12%;
    }

    img {
        -webkit-animation:balloon2 6s ease-in-out infinite;
        -moz-animation:balloon2 6s ease-in-out infinite;
        -o-animation:balloon2 6s ease-in-out infinite;
        animation:balloon2 6s ease-in-out infinite;
    }
}

@-webkit-keyframes balloon2 {
    0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
    50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg);}
}
@-moz-keyframes balloon2 {
    0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
    50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-o-keyframes balloon2 {
    0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
    50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg); }
}
@keyframes balloon2 {
    0%,100%{ -webkit-transform:translate(0, -10px) rotate(6eg);}
  50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg);}
}

