@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
@import url("https://use.typekit.net/jos6foz.css");
/**
 * Variables and Bootstrap overrides
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
/*@font-face {
    font-family: 'CartoGothicStd-Book';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
body {
  background: #fff;
  font: 18px "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #333333;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

h1 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif; }

h2 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif; }

h3 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif; }

h4 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif; }

h5 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif; }

h6 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Rubik', sans-serif; }

*:focus, *:active {
  outline: none !important; }

a {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #e27233; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.color-box-1 {
  background-color: #53BBB4; }

.color-box-2 {
  background-color: #5CB860; }

.color-box-3 {
  background-color: #F9845B; }

.color-box-4 {
  background-color: #838CC7; }

.color-box-5 {
  background-color: #39ADD1; }

.color-box-6 {
  background-color: #3079AB; }

.color-box-7 {
  background-color: #E59A13; }

body {
  font-family: 'akagi-pro', 'Rubik', sans-serif;
  color: white;
  background-color: #131d29; }

.pac-bgerror {
  position: absolute;
  z-index: -1;
  background-color: #0d161e;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }

.light-lamp {
  position: absolute;
  left: 8.5%;
  padding-top: 0;
  top: -3%;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 2s infinite alternate;
  animation: fadeIn 2s infinite alternate;
  opacity: 1;
  background-size: 281px auto;
  background-position: center;
  background-repeat: no-repeat; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.7; } }

@keyframes fadeIn {
  from {
    opacity: 0.7; } }

.pac-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10; }

.pac-header {
  padding-top: 25px; }

.logo-wrapper {
  max-width: 102px; }

.msg-error {
  margin-top: 13rem;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 395px;
  font-size: 18px; }
  @media screen and (max-width: 48em) {
    .msg-error {
      position: absolute;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      bottom: 0; } }

.msg-error-fhundred {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 475px; }
  @media screen and (min-width: 62em) {
    .msg-error-fhundred {
      margin-top: 12rem; } }

.msg-error__text {
  font-size: 28px;
  line-height: 1.1em;
  font-weight: 400; }
  @media screen and (min-width: 62em) {
    .msg-error__text {
      font-size: 34px; } }

.msg-error__title {
  font-size: 60px;
  line-height: 1.3em; }
  @media screen and (min-width: 62em) {
    .msg-error__title {
      font-size: 90px; } }

.msg-error__link {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px; }
  .msg-error__link:hover {
    color: #6ac3ad; }

.link-underline {
  color: white;
  text-decoration: underline; }
  .link-underline:hover {
    color: #6ac3ad; }

/*500*/
.hero-fhundred__ufo {
  margin-left: auto; }
  @media screen and (min-width: 62em) {
    .hero-fhundred__ufo {
      max-width: 550px;
      text-align: right; } }

.hero-fhundred__mascot {
  padding-left: 5%;
  margin-top: -25%; }
  @media screen and (min-width: 62em) {
    .hero-fhundred__mascot {
      padding-left: 10%; } }
  @media screen and (min-width: 1200px) {
    .hero-fhundred__mascot {
      padding-left: 12%; } }
  .hero-fhundred__mascot img {
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite; }

@-webkit-keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translate(0, -10px) rotate(6eg); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg); } }

@-moz-keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translate(0, -10px) rotate(6eg); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg); } }

@-o-keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translate(0, -10px) rotate(6eg); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg); } }

@keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translate(0, -10px) rotate(6eg); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg); } }
